@charset "UTF-8";

body{
	margin: 0;
	width: 2000px;
	height: 100%;
	font-family: 'Farro', sans-serif;
}

.homepage_body{
	width: 100%;
	height: 100%;
/* 	z-index: 2000; */
}

.store_overlay{
	width: 100%;
	height: 100%;
	z-index: 700;
	position: relative;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8b919b+0,2c539e+100 */
	background: #8b919b; /* Old browsers */
	background: -moz-linear-gradient(left,  #8b919b 0%, #2c539e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #8b919b 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #8b919b 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b919b', endColorstr='#2c539e',GradientType=1 ); /* IE6-9 */

}

fullscreen_bg{
	
}
.game_page{
	display: inline-block;
	width: 100%;
	height: 200px;	
	position: relative;
	
}
/*content*/
.content{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}

.appHubAppName{
	display: inline-block;
	z-index: 15;
	position: relative;
	width: 500px;
	margin: 0 auto;
	left: 350px;
	font-size: 35px;
	color: white;
	margin: 15px;
}

.game_background_glow{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 650px;
	margin: 0 auto;
	
}


.block_content{
	display: inline-block;
	position: relative;
	width: 55%;
	height: 100%;
	margin: 0 auto;
	left: 350px;
}


/*rightcol*/

.rightcol{
	display: inline-block;
	position: relative;
	width: 400px;
	height: 650px;
	float: right;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4f85bb+0,4f85bb+100;Blue+3D+%239 */
	background: #4f85bb; /* Old browsers */
	background: -moz-linear-gradient(left,  #4f85bb 0%, #4f85bb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #4f85bb 0%,#4f85bb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #4f85bb 0%,#4f85bb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=1 ); /* IE6-9 */

}
.leftcol{
	display: inline-block;
	position: relative;
	width: 700px;
	height: 650px;
	float: left;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4f85bb+0,4f85bb+100;Blue+3D+%239 */
	background: #4f85bb; /* Old browsers */
	background: -moz-linear-gradient(left,  #4f85bb 0%, #4f85bb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #4f85bb 0%,#4f85bb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #4f85bb 0%,#4f85bb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=1 ); /* IE6-9 */
	
}

/*leftcol highlight_player_area*/

.leftcol #highlight_player_area{
	display: inline-block;
	position: relative;
	width: 690px;
	height: 450px;
	margin: 0px 0px 10px 0px;
}

.leftcol #highlight_player_area img{
	display: inline-block;
	position: relative;
	width: 690px;
	height: 450px;
	margin: 0px 0px 10px 0px;
}

.leftcol #highlight_strip{
	display: inline-block;
	position: relative;
	width: 700px;
	height: 200px;
	white-space:nowrap;
	overflow-x:scroll;
	overflow-y:hidden;
	width:700px;
	height:180px;
}

/* highlight_strip_item */
.highlight_strip_item{
	display: inline-block;
	position: relative;
	width: 250px;
	height: 150px;
	background-color: white;
	margin: 0px 5px 0px 5px;
}

.highlight_strip_item img{
	display: inline-block;
	position: relative;
	width: 250px;
	height: 150px;
}

/*rightcol highlight_player_area*/

.gameHeaderImageCtn{
	display: inline-block;
	position: relative;
	width: 390px;
	height:	200px;
	margin: 0px 0px 0px 10px;
}

.game_description_snippet{
	display: inline-block;
	position: relative;
	width: 380px;
	height:	150px;
	margin: 15px 10px 0px 10px;
	color: white;
}

.glance_ctn_responsive_left{
	display: inline-block;
	position: relative;
	width: 390px;
	height:	200px;
	margin: 15px 0px 0px 10px;
	color: #78B9D3;
}

.subtitle_column{
	display: inline-block;
    position: relative;
    width: 125px;
    float: left;
}

.subtitle_column a{
	display: inline-block;
    position: relative;
    width: 150px;
    float: left;
    text-decoration:none;
    color: #78B9D3;
}

.glanceCtnResponsiveRight{
	display: inline-block;
	position: relative;
	width: 390px;
	height:	50px;
	margin: 15px 0px 0px 0px;
}

.subtitle_column_all{
	display: inline-block;
	position: relative;
	width: 125px;
    float: left;
	
}

.gameHeaderImageCtn img{
	display: inline-block;
	position: relative;
	width: 390px;
	height:	200px;
}

.game_review_summary_positive{
	display: inline-block;
	position: relative;
	width: 100px;
    float: left;
}

.release_date{
	margin: 10px 0px 10px 0px;
}

.dev_row{
	display: inline-block;
	position: relative;
	width: 300px;
}




/* scrollbar */

#highlight_strip::-webkit-scrollbar{
	width: 10px;
	height: 30px;
	background-color: #1E5799;
	
}

#highlight_strip::-webkit-scrollbar-thumb {
    background-color: #2f3542;
/*     border-radius: 10px; */
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  
#highlight_strip::-webkit-scrollbar-track {
    background-color: grey;
/*     border-radius: 10px; */
    box-shadow: inset 0px 0px 5px white;
  }
  
.page_content{
	width: 100%;
	display: inline-block;
	position: relative;
	padding: 0px 0px 0px 350px;
}  
  
/* leftcol_game_description_column */
.leftcol_game_description_column{
	display: inline-block;
	postion: relative;
	width: 50%;
	height: 100%;
	margin: 0 auto;
}  
  
/*queue_overflow_ctn*/
.queue_overflow_ctn{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 75px;
	margin: 10px 0px 10px 0px;
}  

.queue_ctn {
	display: inline-block;
	position: relative;
	width: 95%;
	height: 50px;
	margin: 0 auto;
	margin: 5px 0px 0px 0px;
	background-color: #1E5799;
}

#queueActionsCtn{
	margin: auto 0;
	margin: 10px;
	
}

/*game_area_purchase*/
.game_area_purchase{
	display: inline-block;
	position: relative;
	width: 95%;
	height: 175px;
	margin: 50px 0px px 0px;
}

.game_area_purchase_game{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 115px;
	margin: 5px 0px 0px 0px;
	background-color: #1E5799;
	padding: 10px;
}

.game_purchase_action{
	display: inline-block;
	position: relative;
	width: 75%;
	height: 75px;
	float: right;
}

.game_purchase_action_bg{
	display: inline-block;
	position: relative;
	width: 175px;
	height: 60px;
	padding: 10px;
	float: right;
	background-color: green;
}

/*about us*/
.game_page_autocollapse_ctn{
	display: inline-block;
/* 	position: realtive; */
	width: 95%;
	background-color: yellow;
	margin: 0px 0px 0px 0px;
	padding: 10px;
}
.game_area_description{
	display: inline-block;
	position: realtive;
	width: 100%;
	background-color: green;
}

/* system Requirements*/
.sysreq_contents{
	display: inline-block;
	width: 100%;
	margin: 10px 0px 0px 0px;
}

.game_area_sys_req_leftCol{
	display: inline-block;
	width: 50%;
	float: left;
	
}

.game_area_sys_req_rightCol{
	display: inline-block;
	width: 50%;
}
