@charset "UTF-8";

body{
	margin: 0;
	width: 2000px;
	height: 100%;
	font-family: 'Farro', sans-serif;
}

.homepage_body{
	width: 100%;
	height: 100%;
/* 	z-index: 2000; */
}

.store_overlay{
	width: 100%;
	height: 100%;
	z-index: 700;
	position: relative;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8b919b+0,2c539e+100 */
	background: #8b919b; /* Old browsers */
	background: -moz-linear-gradient(left,  #8b919b 0%, #2c539e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #8b919b 0%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #8b919b 0%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b919b', endColorstr='#2c539e',GradientType=1 ); /* IE6-9 */

}

.game_page{
	display: inline-block;
	width: 100%;
	height: 200px;	
	position: relative;
	
}

/*content*/
.content{
	display: inline-block;
	width: 940px;
	margin: 0 auto;
	margin: 0px 0px 0px 350px;
}

.left_col{
	width: 750px;
	float: left;
	position: relative;
}

.search_results{
	display: inline-block;
	width: 750px;
	height: 50px;
	position: relative;
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	margin-bottom: 10px;
}

.search_results_count{
	margin-top: 5px;
	padding: 10px;
}

.search_result_container{
	display: inline-block;
	position: relative;
	width: 100%;
	background: #2b5876;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-bottom: 25px;
}

.search_result_container a{
	text-decoration: none;
	color: white;
}

.search_result_row{
	display: inline-block;
	width: 100%;
	background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 10px 0px 0px 0px;
	color: white;
}

.search_result_row:hover{
	color: white;
}

.search_capsule{
	width: 150px;
	float:left;
	margin: 0px 10px 0px 10px;
}

.search_capsule img{
	display: inline-block;
	width: 150px;
	height: 75px;
}
.search_name_ellipsis{
	width: 275px;
	height: 75px;	
	float: left;
}
.search_name_ellipsis .title{
	display: inline-block;
	float: left;
	width: 275px;
	height: 25px;
	margin: 7.5px 0px 0px 0px;
}

.search_name_ellipsis p{
	width: 60px;
	height: 25px;
	margin: 10px 0px 0px 0px;
	display: inline-block;
}

.search_name_ellipsis i{
	width: 25px;
	height: 25px;
	float: left;
	font-size: 20px;
	display: inline-block;
	margin-right: 5px;
}

.search_released{
	
	width: 150px;
	float: left;
	margin: 25px 0px 0px 0px;
}

.search_price_discount_combined{
	display: inline-block;
	width: 150px;
	height: 75px;
	float: left;
}

.search_price{
	float: right;
	width: 50px;
	margin: 25px 15px 0px 40px;
	
}